*{
    padding: 0;
    margin: 0;
}
#game{
    width: 700px;
    height: 200px;
    border: 1px solid black;
}

#block{
    width: 20px;
    height: 20px;
    background-image: url(https://miro.medium.com/fit/c/160/160/1*iTABE417EkZDwRv9Uj91Qg.png);
    background-size: cover;
    position: relative;
    top: 130px;
    left: 680px;
    animation: block 1s infinite linear;
}

#character {
    width: 60px;
    height: 50px;
    background-image: url(https://svgsilh.com/svg/295293.svg);
    background-size: cover;
    position: relative;
    top: 150px;
}

#clickToStartWrapper{
    text-align: center;
}
#clickToStart{
    position: absolute;
    top: 33%;
    left: 40%;
}

#exitGameWrapper{
    text-align: center;
}
#exitGame{
    position: absolute;
    top: 23%;
    left: 40%;
}


.animate{
    animation: jump 500ms;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

@keyframes block {
    0%{left:680px;}
    100%{left:-40px;}
}