<!DOCTYPE html>
<html lang="en" onclick = "jump()">
    <head>
        <meta charset="UTF-8">
        
        <title>Game</title>
        <link rel="stylesheet" href="easteregg.css">
    </head>
    <body>
        <div id="game">
            <div id="character"></div>
            <div id="block"></div>

            <div id="restartWrapper">
                <button id="restart" onClick="window.location.reload();">Restart game</button>
            </div>
            <div id="clickToStarttWrapper">
                <div id="clickToStart" onClick="window.location.reload();">Click to jump</div>
            </div>

        </div>
    </body>
    <script src="easteregg.js"></script>
</html>